@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/js/viewdevice.js"></script>
<script src="~/js/jquery.min.js"></script>


<script type="text/javascript">
        window.onload = function () {
            $("#spanid").html("View Devices");
            FilterRecord();
           
        };
    </script>
<div id="tableDiv1">
    <table id="tableDiv" class="table table-bordered table-striped"></table>

    <!-- The Modal -->
    <div class="modal fade" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <form id="updateForm">
                    <!-- Modal Header -->
                    <div class="modal-header bg-primary">
                        <h3 class="modal-title">Update Device Data : </h3>
                        <button type="button" class="close" data-dismiss="modal">×</button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body" id="modalBody">

                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button id="btnUpdate" type="button" class="btn btn-default">Update</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <!-- The Modal -->
    <div class="modal fade" id="myModalDelete">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">

                <form id="deleteForm">
                    <!-- Modal Header -->
                    <div class="modal-header bg-danger bg-danger">
                        <h4 class="modal-title">Please confirm...</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body" id="myModalDeleteBody">

                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button id="OkDelete" type="button" class="btn btn-primary">Ok</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
     </div>
</div>